.mainColor {
  color: #47a6fe;
}

body {
  .folder {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 150px;
    &__icon {
      font-size: 4em;
      @extend .mainColor;
    }
    &__text {
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }
    &__doc {
      font-weight: bold;
      font-size: 1.2em;
    }
    &__btn {
      position: fixed;
      bottom: 30px;
      left: 35%;
      width: 110px;
      background-color: transparent;
      border: 2px solid #ddd;
      border-radius: 100px;
      padding: 10px;
      display: grid;
      color: #ddd;
      text-transform: capitalize;
      cursor: pointer;
    }
    &__line {
      position: fixed;
      bottom: 14px;
      left: 36%;
      background-color: black;
      width: 25%;
      height: 3px;
      border-radius: 5px;
    }
  }
}
